extends ./layout/index

block contenido
  main.container.mt-5 
      .row 
         .col-md-5 
            img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")

         .col-md-7
            h1 #{pagina}

            blockquote ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet fringilla tellus. Aenean in luctus mauris, sed fermentum eros. Nam auctor, ligula sit amet fermentum sodales, justo eros convallis orci, in congue dui magna luctus lectus. Donec tincidunt tellus mi, id fermentum erat ornare sed. In luctus id augue sed mollis. Proin ac pharetra velit. Etiam finibus purus sit amet risus vehicula, ut vehicula lectus tristique. Duis vehicula sem commodo felis pulvinar sollicitudin.

            p feugiat faucibus neque non posuere. Cras interdum vitae tellus id tempus. Fusce luctus cursus ante eu lobortis. Sed eu magna massa. Nam quis aliquam eros. Donec a purus aliquet, viverra leo sit amet, rhoncus enim. Donec eu sodales quam. Ut at turpis eu augue placerat sodales. Vivamus vitae nisl eget ex tincidunt mollis. Ut sagittis vitae lectus ullamcorper porttitor.

            p habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis condimentum augue. Nunc a turpis quis leo placerat hendrerit. Pellentesque non pharetra lorem, sit amet varius sem. Curabitur convallis bibendum pharetra. Aliquam erat volutpat. Suspendisse vitae nibh lectus. Sed quis sodales orci, eget sodales velit.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row  
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic numquam consequuntur necessitatibus tenetur itaque nemo minima aliquam, impedit, nisi quidem. Incidunt cumque recusandae eum maxime cupiditate quae eligendi itaque!
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic numquam consequuntur necessitatibus tenetur itaque nemo minima aliquam, impedit, nisi quidem. Incidunt cumque recusandae eum maxime cupiditate quae eligendi itaque!
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem hic numquam consequuntur necessitatibus tenetur itaque nemo minima aliquam, impedit, nisi quidem. Incidunt cumque recusandae eum maxime cupiditate quae eligendi itaque!
